In [1]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [2]:
WORKING_DIR1  = "C:/Users/ASUS/Documents/GitHub/R5D5-Project/model/DataPreprocess/Datasets/NBA Player Stats - Regular.csv"

In [3]:
df1 = pd.read_csv(WORKING_DIR1 , encoding="ISO-8859-1")

In [4]:
df1.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,salary
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1,NaN
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9,25842697.0
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1,3454080.0
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1,NaN
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9,26000000.0

In [5]:
##Dropping non-useful features
drop_features = ['Player','Tm']
df1 = df1.drop(drop_features,axis=1)

In [6]:
# Remove the rows that contain "#N/A" in the "salaries" column
df1.dropna(subset=["salary"], inplace=True)

In [7]:
# Select the columns to be transformed
categorical_cols = ['Pos']
df_categorical = df1[categorical_cols]

# Perform one-hot encoding on the selected columns
df_encoded = pd.get_dummies(df_categorical)

# Concatenate the one-hot encoded columns with the rest of the DataFrame
df1 = pd.concat([df1, df_encoded], axis=1)

# Drop the original categorical columns
df1 = df1.drop(categorical_cols, axis=1)

In [8]:
# Initialize the Scaler
scaler = MinMaxScaler()

# Fit and transform the scaler on the salary column
df1['salary'] = scaler.fit_transform(df1[['salary']])

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 402 entries, 1 to 811
Data columns (total 38 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rk         402 non-null    int64
 1   Age        402 non-null    int64
 2   G          402 non-null    int64
 3   GS         402 non-null    int64
 4   MP         402 non-null    float64
 5   FG         402 non-null    float64
 6   FGA        402 non-null    float64
 7   FG%        402 non-null    float64
 8   3P         402 non-null    float64
 9   3PA        402 non-null    float64
 10  3P%        402 non-null    float64
 11  2P         402 non-null    float64
 12  2PA        402 non-null    float64
 13  2P%        402 non-null    float64
 14  eFG%       402 non-null    float64
 15  FT         402 non-null    float64
 16  FTA        402 non-null    float64
 17  FT%        402 non-null    float64
 18  ORB        402 non-null    float64
 19  DRB        402 non-null    float64
 20  TRB        402 non-null    float64
 21  AST        402 non-null    float64
 22  STL        402 non-null    float64
 23  BLK        402 non-null    float64
 24  TOV        402 non-null    float64
 25  PF         402 non-null    float64
 26  PTS        402 non-null    float64
 27  salary     402 non-null    float64
 28  Pos_C      402 non-null    uint8
 29  Pos_C-PF   402 non-null    uint8
 30  Pos_PF     402 non-null    uint8
 31  Pos_PF-SF  402 non-null    uint8
 32  Pos_PG     402 non-null    uint8
 33  Pos_PG-SG  402 non-null    uint8
 34  Pos_SF     402 non-null    uint8
 35  Pos_SF-SG  402 non-null    uint8
 36  Pos_SG     402 non-null    uint8
 37  Pos_SG-SF  402 non-null    uint8
dtypes: float64(24), int64(4), uint8(10)
memory usage: 95.0 KB

In [10]:
# Finding the useful features to predict the salary
corre = df1.corr()
corre['salary'].sort_values(ascending=False)

salary       1.000000
Age          0.470301
PTS          0.441699
FT           0.437594
TOV          0.435206
FTA          0.433037
FG           0.426429
AST          0.425764
FGA          0.421497
2PA          0.416128
DRB          0.411728
2P           0.397932
MP           0.379299
TRB          0.377080
GS           0.332907
STL          0.292916
BLK          0.263014
3PA          0.260277
3P           0.259017
PF           0.241422
ORB          0.191137
Pos_PG-SG    0.148881
G            0.133690
Pos_PF       0.107376
FG%          0.103752
FT%          0.102089
eFG%         0.095680
Pos_PG       0.075842
3P%          0.056319
2P%          0.046036
Pos_C-PF     0.029056
Pos_PF-SF    0.009653
Pos_C       -0.000133
Rk          -0.006541
Pos_SF-SG   -0.017258
Pos_SG-SF   -0.038832
Pos_SF      -0.053047
Pos_SG      -0.134728
Name: salary, dtype: float64

In [11]:
X = df1.drop('salary', axis=1)
y = df1['salary']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [12]:
df1.to_csv("ML_Model_Dataset_01/complete_data_model_NBA_Player_Stats_Regular.csv", index=False)
X_train.to_csv("ML_Model_Dataset_01/X_train04.csv", index=False)
X_test.to_csv("ML_Model_Dataset_01/X_test04.csv", index=False)
y_train.to_csv("ML_Model_Dataset_01/y_train04.csv", index=False)
y_test.to_csv("ML_Model_Dataset_01/y_test04.csv", index=False)